@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.todoCard{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.todoDetail{
    background-color: rgba(231, 231, 231, 0.518);
    border: 2px solid white;
    width: 50%;
    padding: 10px 15px;
    border-radius: 10px;
}